$theme-colors: (
  primary: $primary,
  secondary: lighten($secondary, 10%),
  light: $light,
  dark: $dark,
  warning: darken($yellow, 10%),
  info: $info,
  success: darken($success, 10%),
  danger: darken($danger, 20%),
  accent: darken($purple, 10%),
  blue: lighten($blue, 5%),
  indigo: lighten($indigo, 5%),
  purple: $purple,
  pink: darken($pink, 5%),
  red: darken($red, 5%),
  orange: darken($orange, 5%),
  yellow: darken($yellow, 10%),
  green: darken($green, 10%),
  teal: darken($teal, 10%),
  cyan: darken($cyan, 10%),
  grey: $gray-600
);

$modal-sm:                          300px;
$modal-md:                          500px;
$modal-lg:                          800px;
$modal-xl:    1300px;                      // 1140px;

$input-bg: #446;
$input-border-color: #ddd;
$input-color: white;

.autocomplete {
  font-size: 1.0em;
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  z-index: 10;
}
.autocomplete .autocomplete-suggestion {
  padding: 15px 20px;
  border-bottom: 1px solid white;
}
.autocomplete .autocomplete-suggestion:hover{
  background-color: darkslateblue;
}
.autocomplete .empty {
  padding: 2em;
  background-color: darkred;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
.autocomplete .selected {
  background-color: blue;
  color: white;
}
.autocomplete .selected:hover{
  background-color: slateblue;
}
