$theme-colors: (
  primary: $primary,
  secondary: lighten($secondary, 10%),
  light: $light,
  dark: $dark,
  warning: darken($yellow, 10),
  info: $info,
  success: darken($success, 10%),
  danger: darken($danger, 20%),
  accent: darken($purple, 10%),
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan
);

$input-bg: #446;
$input-border-color: #ddd;
$input-color: white;

.autocomplete {
  font-size: 1.0em;
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  z-index: 10;
}
.autocomplete .autocomplete-suggestion {
  padding: 15px 20px;
  border-bottom: 1px solid white;
}
.autocomplete .autocomplete-suggestion:hover{
  background-color: darkslateblue;
}
.autocomplete .empty {
  padding: 2em;
  background-color: darkred;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
.autocomplete .selected {
  background-color: blue;
  color: white;
}
.autocomplete .selected:hover{
  background-color: slateblue;
}
