
$theme-colors: (
  warning: darken($yellow, 10%),
  success: darken($success, 10%),
  danger: darken($danger, 20%),
  accent: darken($purple, 10%)
);

.list-group-item-info {
  background-color: $info;
}

.list-scroll {
  max-height: max-content;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}
.list-group-striped .list-group-item:nth-child(even) {
  background-color: black;
}
.list-group-border-bottom .list-group-item {
  border-bottom:  1px solid darkgrey;
}

.autocomplete {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
.autocomplete .item {
  padding: 15px 20px;
  border-bottom: 1px solid black;
}
.autocomplete .item:hover{
  background-color: lightblue;
}
.autocomplete .empty {
  padding: 15px 20px;
  background-color: gray;
  color: white;
}
.autocomplete .selected {
  background-color: darkblue;
  color: white;
}
.autocomplete .selected:hover{
  background-color: blue;
}
